body {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #2f4454; }

#map {
  width: 100%;
  height: 100vh; }

.panel-one {
  width: 600px;
  height: 100vh;
  background: #DA7B93;
  -webkit-animation: mymove 1s ease-in-out forwards;
  /* Safari 4.0 - 8.0 */
  animation: mymove 1s ease-in-out forwards;
  position: absolute; }

.wrapper {
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0px; }

.panel-two {
  width: 570px;
  height: 100vh;
  background: #1C3334;
  -webkit-animation: mymove 1.5s ease-in-out forwards;
  /* Safari 4.0 - 8.0 */
  animation: mymove 1.5s ease-in-out forwards;
  position: absolute; }

.panel-three {
  width: 540px;
  height: 100vh;
  background: #376E6F;
  -webkit-animation: mymove 2s ease-in-out  forwards;
  /* Safari 4.0 - 8.0 */
  animation: mymove 2s ease-in-out forwards;
  position: absolute; }

@keyframes mymove {
  0% {
    left: -550px; }

  100% {
    left: 0px; } }
.panel-back {
  -webkit-animation: mymoveBack 1s ease-in-out forwards;
  /* Safari 4.0 - 8.0 */
  animation: mymoveBack 1s ease-in-out forwards;
  position: absolute; }

@keyframes mymoveBack {
  0% {
    left: 0px; }

  100% {
    left: -500px; } }
#particles-js {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100vh;
  pointer-events: none; }

header {
  position: absolute;
  z-index: 10000;
  margin-left: 85px;
  margin-top: 40px; }

h1 {
  z-index: 10000;
  color: #DA7B93;
  font-size: 80px;
  letter-spacing: 28px;
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  border: 2px solid #2E151B;
  font-family: 'Pathway Gothic One', sans-serif; }

h2 {
  font-size: 18px;
  color: #DA7B93;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 30px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 5px; }

form {
  margin-top: 200px;
  text-align: left; }

fieldset {
  border: none;
  background-color: #2E151B;
  margin-left: 93px;
  margin-right: 95px; }

#people-days {
  margin-top: 5px; }

input {
  font-size: 24px;
  background-color: #376E6F;
  border: none;
  padding: 4px; }

input:focus {
  outline: none;
  border: 1px solid red;
  box-shadow: 0 0 10px #DA7B93; }

.set-width {
  width: 321px; }

.set-width-people {
  width: 50px; }

#input-space {
  margin-bottom: 5px; }

.button-primary {
  background-color: #376E6F;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer; }

#myNumber {
  display: inline; }
