body {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #2f4454; }

#map {
  width: 100%;
  height: 100vh; }

.panel-one {
  width: 600px;
  height: 100vh;
  background: #DA7B93;
  -webkit-animation: mymove 1s ease-in-out forwards;
  /* Safari 4.0 - 8.0 */
  animation: mymove 1s ease-in-out forwards;
  position: absolute; }

.wrapper {
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0px; }

.panel-two {
  width: 570px;
  height: 100vh;
  background: #1C3334;
  -webkit-animation: mymove 1.5s ease-in-out forwards;
  /* Safari 4.0 - 8.0 */
  animation: mymove 1.5s ease-in-out forwards;
  position: absolute; }

.panel-three {
  width: 540px;
  height: 100vh;
  background: #376E6F;
  -webkit-animation: mymove 2s ease-in-out  forwards;
  /* Safari 4.0 - 8.0 */
  animation: mymove 2s ease-in-out forwards;
  position: absolute; }

@keyframes mymove {
  0% {
    left: -550px; }

  100% {
    left: 0px; } }
.panel-back {
  -webkit-animation: mymoveBack 1s ease-in-out forwards;
  /* Safari 4.0 - 8.0 */
  animation: mymoveBack 1s ease-in-out forwards;
  position: absolute; }

@keyframes mymoveBack {
  0% {
    left: 0px; }

  100% {
    left: -510px; } }
#particles-js {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100vh;
  pointer-events: none; }

header {
  position: absolute;
  z-index: 10000;
  margin-left: 85px;
  margin-top: 40px; }

h1 {
  z-index: 10000;
  color: #DA7B93;
  font-size: 80px;
  letter-spacing: 28px;
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  border: 2px solid #2E151B;
  font-family: 'Pathway Gothic One', sans-serif; }

h2 {
  font-size: 18px;
  color: #DA7B93;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 30px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 5px; }

form {
  margin-top: 200px;
  text-align: left; }

fieldset {
  border: none;
  background-color: #2E151B;
  margin-left: 93px;
  margin-right: 95px; }

#people-days {
  margin-top: 5px;
  margin-right: 200px;
  padding-right: 0px; }

input {
  color: white;
  font-size: 24px;
  background-color: #376E6F;
  border: none;
  padding: 4px; }

input:focus {
  outline: none;
  border: 1px solid red;
  box-shadow: 0 0 10px #DA7B93; }

.set-width {
  width: 321px; }

.set-width-people {
  width: 40px;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

#input-space-to {
  margin-bottom: 5px;
  width: 321px; }

h3 {
  color: #DA7B93;
  margin: 0 auto; }

.button-primary {
  float: left;
  background-color: #376E6F;
  border: none;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0px;
  margin-right: 30px; }

#submit-arrow {
  color: #DA7B93;
  font-size: 60px;
  position: absolute;
  width: 92px;
  height: 161px;
  top: 372px;
  text-align: center;
  border-radius: 0px;
  right: 94px;
  margin: 0 auto;
  background-color: #2E151B; }

#car-group {
  margin-top: 5px;
  background-color: #376E6F;
  padding: 0px;
  margin-right: 80px; }

.car {
  border: none;
  padding: 50px 87px;
  margin-bottom: 5px;
  border-radius: 0px;
  background-color: #2E151B; }

#calculations {
  margin-top: 3px;
  height: 100px;
  background-color: #DA7B93;
  margin-left: 93px;
  margin-right: 95px; }

#final-cost {
  text-align: center;
  padding-top: 5px;
  margin-left: 25px;
  font-weight: bold;
  color: #1C3334; }

#fuel-cost {
  color: #DA7B93;
  background-color: #1C3334;
  padding-top: 5px;
  padding-left: 22px;
  margin-bottom: 5px;
  letter-spacing: 20px; }

#over-cost {
  color: #DA7B93;
  background-color: #1C3334;
  padding-top: 5px;
  padding-left: 20px;
  letter-spacing: 20px; }

button:focus {
  outline: none;
  border: 1px solid #DA7B93;
  box-shadow: 0 0 10px #DA7B93; }

#motorbike {
  padding: 15px;
  width: 174px;
  height: 130px; }

#smart-car {
  padding: 15px;
  width: 174px;
  height: 130px; }

#large-car {
  padding: 15px;
  width: 174px;
  height: 130px; }

#motorhome {
  padding: 15px;
  width: 174px;
  height: 130px; }

img {
  max-width: 100%;
  max-height: 100%;
  float: left; }
